# Ignorar carpetas generadas por PyInstaller
build/
dist/
*.spec

# Ignorar ejecutables y logs locales
*.exe
*.log
datos_keylogger.txt
log_basico.txt

# Ignorar archivos de Python y entornos
__pycache__/
*.py[cod]
.venv/

# Ignorar configuración de IDEs
.idea/
.vscode/

# SEGURIDAD: Ignorar variables de entorno
.env*